# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Temporary files
tmp/

# Database files (if using local databases)
db.sqlite
*.db

# IDE-specific files
.idea/
.vscode/

# Operating System files
.DS_Store
Thumbs.db

# Coverage reports
coverage/
