# Node modules
node_modules/

# Build output
build/
dist/

# Environment variables
.env

# Logs
logs/
*.log

# Local config files
.local/

# IDE-specific files
.idea/
.vscode/

# Operating System files
.DS_Store
Thumbs.db
